<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#What-is-Pandas?" data-toc-modified-id="What-is-Pandas?-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>What is Pandas?</a></span><ul class="toc-item"><li><span><a href="#Accessing-Data" data-toc-modified-id="Accessing-Data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Accessing Data</a></span></li><li><span><a href="#DataFrames-and-Series" data-toc-modified-id="DataFrames-and-Series-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>DataFrames and Series</a></span></li><li><span><a href="#More-Basic-DataFrame-Attributes-and-Methods" data-toc-modified-id="More-Basic-DataFrame-Attributes-and-Methods-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>More Basic DataFrame Attributes and Methods</a></span><ul class="toc-item"><li><span><a href="#.head()-:-first-5-rows" data-toc-modified-id=".head()-:-first-5-rows-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span><code>.head()</code> : first 5 rows</a></span></li><li><span><a href="#.tail()-:-last-5-rows" data-toc-modified-id=".tail()-:-last-5-rows-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span><code>.tail()</code> : last 5 rows</a></span></li><li><span><a href="#.info()-:-information-about-the-columns,-including-about-nulls-in-those-columns" data-toc-modified-id=".info()-:-information-about-the-columns,-including-about-nulls-in-those-columns-2.3.3"><span class="toc-item-num">2.3.3&nbsp;&nbsp;</span><code>.info()</code> : information about the columns, including about nulls in those columns</a></span></li><li><span><a href="#.describe()-:-statistics-about-the-data" data-toc-modified-id=".describe()-:-statistics-about-the-data-2.3.4"><span class="toc-item-num">2.3.4&nbsp;&nbsp;</span><code>.describe()</code> : statistics about the data</a></span></li><li><span><a href="#.dtypes-:-data-types-of-each-column" data-toc-modified-id=".dtypes-:-data-types-of-each-column-2.3.5"><span class="toc-item-num">2.3.5&nbsp;&nbsp;</span><code>.dtypes</code> : data types of each column</a></span></li><li><span><a href="#.shape-:-number-of-rows-and-columns" data-toc-modified-id=".shape-:-number-of-rows-and-columns-2.3.6"><span class="toc-item-num">2.3.6&nbsp;&nbsp;</span><code>.shape</code> : number of rows and columns</a></span></li><li><span><a href="#Statistics" data-toc-modified-id="Statistics-2.3.7"><span class="toc-item-num">2.3.7&nbsp;&nbsp;</span>Statistics</a></span></li></ul></li><li><span><a href="#Enough-With-The-Small-Stuff---Bring-On-Real-Data!" data-toc-modified-id="Enough-With-The-Small-Stuff---Bring-On-Real-Data!-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Enough With The Small Stuff - Bring On Real Data!</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Any-Observations?" data-toc-modified-id="Any-Observations?-2.4.0.1"><span class="toc-item-num">2.4.0.1&nbsp;&nbsp;</span>Any Observations?</a></span></li></ul></li></ul></li><li><span><a href="#Adding-to-a-DataFrame" data-toc-modified-id="Adding-to-a-DataFrame-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Adding to a DataFrame</a></span><ul class="toc-item"><li><span><a href="#Adding-Rows" data-toc-modified-id="Adding-Rows-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Adding Rows</a></span></li></ul></li><li><span><a href="#Adding-(and-Deleting)-Columns" data-toc-modified-id="Adding-(and-Deleting)-Columns-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Adding (and Deleting) Columns</a></span><ul class="toc-item"><li><span><a href="#DateTime-Data!" data-toc-modified-id="DateTime-Data!-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>DateTime Data!</a></span></li></ul></li></ul></li><li><span><a href="#Filtering" data-toc-modified-id="Filtering-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Filtering</a></span><ul class="toc-item"><li><span><a href="#.loc" data-toc-modified-id=".loc-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.loc</code></a></span><ul class="toc-item"><li><span><a href="#Your-turn!" data-toc-modified-id="Your-turn!-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Your turn!</a></span><ul class="toc-item"><li><span><a href="#Exercise-1" data-toc-modified-id="Exercise-1-3.1.1.1"><span class="toc-item-num">3.1.1.1&nbsp;&nbsp;</span>Exercise 1</a></span></li><li><span><a href="#Exercise-2" data-toc-modified-id="Exercise-2-3.1.1.2"><span class="toc-item-num">3.1.1.2&nbsp;&nbsp;</span>Exercise 2</a></span></li></ul></li></ul></li><li><span><a href="#.iloc" data-toc-modified-id=".iloc-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span><code>.iloc</code></a></span></li></ul></li><li><span><a href="#Series-Methods" data-toc-modified-id="Series-Methods-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Series Methods</a></span><ul class="toc-item"><li><span><a href="#.value_counts()" data-toc-modified-id=".value_counts()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.value_counts()</code></a></span></li><li><span><a href="#.sort_values()" data-toc-modified-id=".sort_values()-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span><code>.sort_values()</code></a></span></li></ul></li><li><span><a href="#Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it." data-toc-modified-id="Extra-Credit:-Find-a-.csv-file-online-and-experiment-with-it.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Extra Credit: Find a .csv file online and experiment with it.</a></span></li></ul></div>

![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2880px-Pandas_logo.svg.png)

# Objectives

- Load .csv files into `pandas` DataFrames
- Describe and manipulate data in Series and DataFrames

# What is Pandas?

![I have no idea what I'm doing panda](https://cdn-images-1.medium.com/max/1600/1*oBx032ncOwLmCFX3Epo3Zg.jpeg)

Just kidding - not actual literal pandas.

Pandas, as [the Anaconda docs](https://docs.anaconda.com/anaconda/packages/py3.7_osx-64/) tell us, offers us "High-performance, easy-to-use data structures and data analysis tools." It's something like "Excel for Python", but it's quite a bit more powerful. The name comes from "panel data", a common way to describe the kind of multidimensional data we'll be working with in certain academic circles (namely, statistics and econometrics) [[Source]](https://www.dlr.de/sc/Portaldata/15/Resources/dokumente/pyhpc2011/submissions/pyhpc2011_submission_9.pdf)

In order to use pandas, we'll need to import it into our notebook first.

In [1]:
# Import - using the common alias
import pandas as pd

## Accessing Data

![pandas documentation image showcasing the kinds of data it can both read and write to](https://pandas.pydata.org/docs/_images/02_io_readwrite.svg)

[[Image Source]](https://pandas.pydata.org/docs/getting_started/intro_tutorials/02_read_write.html)

Pandas can access a ton of different data types, including some that should be familiar: CSVs and JSONs! That's right, no more `with` / `open` statements now that we're using pandas!

Most of the time, we'll see CSVs - so let's access a 'toy' data set quickly just to familiarize ourselves with using pandas. There's a heart dataset available in the data folder on this repository - let's read that in.

In [2]:
# Use read_csv to read in the heart csv file
# Need to assign it to a variable too - let's call this heart_df
heart_df = pd.read_csv('./data/heart.csv')

The output of the `.read_csv()` function is a pandas *DataFrame*, which has a familiar tabaular structure of rows and columns.

In [3]:
# Let's check this variable out
heart_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [4]:
# What type is this variable?
type(heart_df)

pandas.core.frame.DataFrame

## DataFrames and Series

Two main types of pandas objects are the DataFrame and the Series, the latter being in effect a single column of the former:

In [11]:
# Let's grab just one column
heart_df.columns[1]

'sex'

Notice how we can isolate a column of our DataFrame simply by using square brackets together with the name of the column. We can also access columns as an attribute of the DataFrame - but that only works if the name of the column doesn't have any spaces or weird characters!

In [5]:
# Grab the same column as an attribute
heart_df.age

0      63
1      37
2      41
3      56
4      57
       ..
298    57
299    45
300    68
301    57
302    57
Name: age, Length: 303, dtype: int64

In [12]:
# What type is the column?
type(heart_df.age)

pandas.core.series.Series

Both Series and DataFrames have an *index* as well:

In [ ]:
# Check out the dataframe index

In [ ]:
# Check out the series index

DataFrames have columns - but a Series is just a single column, so it doesn't have the columns attribute.

In [13]:
# Check out the dataframe columns
heart_df.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [15]:
# Now try with the series
age_series.values

NameError: name 'age_series' is not defined

Pandas is built on top of NumPy, and we can always access the NumPy array underlying a DataFrame using `.values`.

In [14]:
# Check out the dataframe values
heart_df.values

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

## More Basic DataFrame Attributes and Methods

### `.head()` : first 5 rows

In [16]:
heart_df.head(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### `.tail()` : last 5 rows

In [18]:
heart_df.tail(5)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### `.info()` : information about the columns, including about nulls in those columns

In [19]:
heart_df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

### `.describe()` : statistics about the data

In [20]:
heart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

### `.dtypes` : data types of each column

In [22]:
heart_df.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

### `.shape` : number of rows and columns

In [24]:
heart_df.shape.index

### Statistics

We saw them above, in the `.describe`, but we can also calculate statistics by calling them individually.

In [30]:
# Calculate the mean - for the whole dataframe!
heart_df.mean()

age          54.366337
sex           0.683168
cp            0.966997
trestbps    131.623762
chol        246.264026
fbs           0.148515
restecg       0.528053
thalach     149.646865
exang         0.326733
oldpeak       1.039604
slope         1.399340
ca            0.729373
thal          2.313531
target        0.544554
dtype: float64

Let's pause and interpret - any observations?

-

In [31]:
# Now min
heart_df.min()

age          29.0
sex           0.0
cp            0.0
trestbps     94.0
chol        126.0
fbs           0.0
restecg       0.0
thalach      71.0
exang         0.0
oldpeak       0.0
slope         0.0
ca            0.0
thal          0.0
target        0.0
dtype: float64

In [32]:
# And max
heart_df.max()

age          77.0
sex           1.0
cp            3.0
trestbps    200.0
chol        564.0
fbs           1.0
restecg       2.0
thalach     202.0
exang         1.0
oldpeak       6.2
slope         2.0
ca            4.0
thal          3.0
target        1.0
dtype: float64

## Enough With The Small Stuff - Bring On Real Data!

Let's access an open data portal and get some real live data!

Austin Animal Center Intake Data: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm/

In [36]:
# Accessing a CSV from a url
intakes_url = pd.read_csv('https://data.austintexas.gov/resource/wter-evkm.csv')
intakes_url.head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A860631,A860631,2022-07-01T09:13:00.000,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,Fox,Brown
1,A860630,NaN,2022-07-01T08:34:00.000,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,Australian Cattle Dog,Tricolor
2,A860622,Meshe,2022-06-30T21:52:00.000,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,Pit Bull Mix,White/Brown
3,A860621,NaN,2022-06-30T19:56:00.000,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown
4,A860618,Pupperoni,2022-06-30T18:37:00.000,2022-06-30T18:37:00.000,East 1St And Anthony in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Pomeranian,Brown

In [34]:
# Same as the JSON output from this API endpoint, but different levels of detail for dates!
pd.read_json('https://data.austintexas.gov/resource/wter-evkm.json').head()

,animal_id,name,datetime,datetime2,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color
0,A860631,A860631,2022-07-01 09:13:00,2022-07-01T09:13:00.000,2601 Floxgen in Austin (TX),Wildlife,Sick,Other,Unknown,1 month,Fox,Brown
1,A860630,NaN,2022-07-01 08:34:00,2022-07-01T08:34:00.000,12330 North Ih 35 in Austin (TX),Abandoned,Normal,Dog,Unknown,7 years,Australian Cattle Dog,Tricolor
2,A860622,Meshe,2022-06-30 21:52:00,2022-06-30T21:52:00.000,12118 Walnut Creek Xing in Austin (TX),Stray,Normal,Dog,Intact Female,3 years,Pit Bull Mix,White/Brown
3,A860621,NaN,2022-06-30 19:56:00,2022-06-30T19:56:00.000,Austin (TX),Wildlife,Normal,Other,Unknown,2 years,Bat,Brown
4,A860618,Pupperoni,2022-06-30 18:37:00,2022-06-30T18:37:00.000,East 1St And Anthony in Austin (TX),Stray,Normal,Dog,Unknown,2 years,Pomeranian,Brown

In [37]:
# But this is only 1000 rows... website says there's 136K rows!
intakes_url.shape

(1000, 12)

In [39]:
# It's a limitation of the API - let's just download the data instead
# It's in the data folder
df = pd.read_csv('./data/Austin_Animal_Center_Intakes-clean-year.csv')

In [42]:
# Now let's explore those earlier attributes and methods on this dataset!
# Check the first 5 rows
df.head(5)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

In [43]:
# Check the last 5 rows
df.tail(5)

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
136758,A852238,A852238,2022-02-28 14:02:00,2022,Cameron And Crosspark Drive in Austin (TX),Stray,Normal,Dog,Intact Female,6 months,Labrador Retriever Mix,Black/White
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream

In [44]:
# Check the shape
df.shape

(136763, 12)

In [45]:
# Check the datatypes
df.dtypes

Animal ID           object
Name                object
DateTime            object
Year                 int64
Found Location      object
Intake Type         object
Intake Condition    object
Animal Type         object
Sex upon Intake     object
Age upon Intake     object
Breed               object
Color               object
dtype: object

In [46]:
# Check more general information on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136763 entries, 0 to 136762
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         136763 non-null  object
 1   Name              95772 non-null   object
 2   DateTime          136763 non-null  object
 3   Year              136763 non-null  int64
 4   Found Location    136763 non-null  object
 5   Intake Type       136763 non-null  object
 6   Intake Condition  136763 non-null  object
 7   Animal Type       136763 non-null  object
 8   Sex upon Intake   136762 non-null  object
 9   Age upon Intake   136763 non-null  object
 10  Breed             136763 non-null  object
 11  Color             136763 non-null  object
dtypes: int64(1), object(11)
memory usage: 12.5+ MB

In [47]:
# Check summary/descriptive statistics on the dataframe
df.describe()

                Year
count  136763.000000
mean     2017.100692
std         2.328994
min      2013.000000
25%      2015.000000
50%      2017.000000
75%      2019.000000
max      2022.000000

#### Any Observations?

-

## Adding to a DataFrame

### Adding Rows

We have a new animal coming in, captured here in a Python dictionary:

In [81]:
# Dictionary, where keys match the column names and values are the row values
next_row = {
    'Animal ID': ['A851755'],
    'Name': ["T'Challa"],
    'DateTime': ['2/28/2022 11:25:00 AM'],
    'Year': [2022],
    'Found Location': ['Houston (TX)'],
    'Intake Type': ['Public Assist'],
    'Intake Condition': ['Normal'],
    'Animal Type': ['Cat'],
    'Sex upon Intake': ['Neutered Male'],
    'Age upon Intake': ['4 years'],
    'Breed': ['Domestic Shorthair'],
    'Color': ['Black']
}
next_row

{'Animal ID': ['A851755'],
 'Name': ["T'Challa"],
 'DateTime': ['2/28/2022 11:25:00 AM'],
 'Year': [2022],
 'Found Location': ['Houston (TX)'],
 'Intake Type': ['Public Assist'],
 'Intake Condition': ['Normal'],
 'Animal Type': ['Cat'],
 'Sex upon Intake': ['Neutered Male'],
 'Age upon Intake': ['4 years'],
 'Breed': ['Domestic Shorthair'],
 'Color': ['Black']}

How can we add this to the bottom of our dataset?

In [82]:
# Let's first turn this into a DataFrame.
# We can use the .from_dict() method.
new_animal = pd.DataFrame.from_dict(next_row)

In [83]:
# Now we just need to concatenate the two DataFrames together.
# Note the `ignore_index` parameter! We'll set that to True.
df_augmented = pd.concat([df,new_animal], ignore_index=True)

In [84]:
# Let's check the end to make sure we were successful!
df_augmented.shape

(136764, 12)

## Adding (and Deleting) Columns

Adding a column is very easy in `pandas`. Let's add a new column to our dataset called "test", and set all of its values to 0.

In [132]:
# Create a new column, 'test', where every value in the col is 0
df_augmented['test'] += 10

In [133]:
# Sanity check
df_augmented.head()

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
0,A786884,*Brock,2019-01-03 16:19:00,2019,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor,30
1,A706918,Belle,2015-07-05 12:59:00,2015,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver,30
2,A724273,Runster,2016-04-14 18:43:00,2016,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White,30
3,A665644,NaN,2013-10-21 07:59:00,2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,30
4,A682524,Rio,2014-06-29 10:38:00,2014,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray,30

But we don't need that - let's drop that column.

In [135]:
# Drop that test column
df_augmented.drop(columns = df_augmented['test'] )

KeyError: '[30 30 30 ... 30 30 30] not found in axis'

In [ ]:
# Sanity check

We can also do math with columns, or use mathematical notation to combine columns even when they aren't numerical!

We don't have any numeric data in this current dataset. But we can still create a combined "Type" column that combines the values of our Intake Type and Animal Type columns.

In [ ]:
# Create a new column, 'Type', from the two 'Type' columns

In [ ]:
# Sanity check

### DateTime Data!

Useful reference: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html

I mentioned we don't have any numeric data in here... let's make a new numeric column! Specifically, let's grab the year from our `DateTime` column and use that to create a new `Year` column. AKA, let's learn how to deal with datetime data!

In [ ]:
# What type is the DateTime column now?

In [ ]:
# Let's make that a datetime datatype

In [ ]:
# Sanity check

In [ ]:
# Now we can access parts of a datetime object using .dt - an attribute!

In [ ]:
# Make that into a new column

In [ ]:
# Sanity check

# Filtering

We can use filtering techniques to see only certain rows of our data. Let's look at only animals taken into the center during or after 2020:

In [126]:
# Check which rows have an intake year greater than or equal to 2020
df_augmented['Year'] >= 2020

0         False
1         False
2         False
3         False
4         False
          ...
136759     True
136760     True
136761     True
136762     True
136763     True
Name: Year, Length: 136764, dtype: bool

In [114]:
# Let's explore an interesting property of boolean columns...
# Find out the total sum of animals taken in during or after 2020

But this only gives us True/False outputs... what if we want to really filter?

## `.loc`

We can locate and segment down to only rows where some condition is true using `.loc`. This takes in a condition, and only outputs the rows where that condition is True! 

> **Note:** locate (`.loc`) uses square brackets, not parentheses! Often, square brackets denote location-focused actions, like this one.

Let's try this first with the condition we just built, and locate all animals taken in during or after 2020.

In [136]:
# Create a subset dataframe of animals taken in during or after 2020
df_augmented.loc[df_augmented['Year'] >= 2020]

,Animal ID,Name,DateTime,Year,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,test
7,A844350,*Ella,2021-10-15 11:40:00,2021,2112 East William Cannon Drive in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby,30
9,A818975,NaN,2020-06-18 14:53:00,2020,Braker Lane And Metric in Travis (TX),Stray,Normal,Cat,Intact Male,4 weeks,Domestic Shorthair,Cream Tabby,30
22,A831808,NaN,2021-04-02 11:16:00,2021,Austin (TX),Owner Surrender,Normal,Cat,Intact Female,1 month,Domestic Shorthair Mix,Tortie,30
24,A836850,NaN,2021-06-15 12:37:00,2021,6111 Softwood Drive in Austin (TX),Public Assist,Pregnant,Dog,Intact Female,4 years,Pit Bull,Blue/White,30
26,A815227,Baby,2020-03-12 13:52:00,2020,12305 Zeller Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Norfolk Terrier,Brown/Cream,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
136759,A852221,Coco,2022-02-28 11:05:00,2022,45 And 183 in Travis (TX),Stray,Normal,Dog,Intact Male,3 years,Great Pyrenees,White,30
136760,A851977,*Jack,2022-02-22 13:34:00,2022,1200 Montopolis Drive in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Chihuahua Shorthair/Dachshund,Black/White,30
136761,A852127,Sonic,2022-02-25 13:05:00,2022,7601 Daffan Ln Unit 424 in Austin (TX),Stray,Normal,Dog,Intact Male,2 years,Pit Bull Mix,White/Yellow,30
136762,A852194,Queen,2022-02-27 13:44:00,2022,8071 N Lamar Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Cane Corso,Blue Cream,30
136763,A851755,T'Challa,2/28/2022 11:25:00 AM,2022,Houston (TX),Public Assist,Normal,Cat,Neutered Male,4 years,Domestic Shorthair,Black,30

We can return only certain columns when we do this, by adding an argument after the condition:

In [125]:
# Let's return just the 'Animal ID', 'DateTime' and 'Type' columns
df_augmented.loc[df_augmented['Year'] >= 2020],['Animal ID','DateTime','Type']

(       Animal ID      Name               DateTime  Year  \
 7        A844350     *Ella    2021-10-15 11:40:00  2021
 9        A818975       NaN    2020-06-18 14:53:00  2020
 22       A831808       NaN    2021-04-02 11:16:00  2021
 24       A836850       NaN    2021-06-15 12:37:00  2021
 26       A815227      Baby    2020-03-12 13:52:00  2020
 ...          ...       ...                    ...   ...
 136759   A852221      Coco    2022-02-28 11:05:00  2022
 136760   A851977     *Jack    2022-02-22 13:34:00  2022
 136761   A852127     Sonic    2022-02-25 13:05:00  2022
 136762   A852194     Queen    2022-02-27 13:44:00  2022
 136763   A851755  T'Challa  2/28/2022 11:25:00 AM  2022

                                        Found Location      Intake Type  \
 7       2112 East William Cannon Drive in Austin (TX)            Stray
 9               Braker Lane And Metric in Travis (TX)            Stray
 22                                        Austin (TX)  Owner Surrender
 24                 6111 Softwood Drive in Austin (TX)    Public Assist
 26                   12305 Zeller Lane in Austin (TX)            Stray
 ...                                               ...              ...
 136759                      45 And 183 in Travis (TX)            Stray
 136760           1200 Montopolis Drive in Austin (TX)            Stray
 136761         7601 Daffan Ln Unit 424 in Austin (TX)            Stray
 136762               8071 N Lamar Blvd in Austin (TX)            Stray
 136763                                   Houston (TX)    Public Assist

        Intake Condition Animal Type Sex upon Intake Age upon Intake  \
 7                Normal         Cat   Intact Female        6 months
 9                Normal         Cat     Intact Male         4 weeks
 22               Normal         Cat   Intact Female         1 month
 24             Pregnant         Dog   Intact Female         4 years
 26               Normal         Dog   Intact Female         1 month
 ...                 ...         ...             ...             ...
 136759           Normal         Dog     Intact Male         3 years
 136760           Normal         Dog     Intact Male         2 years
 136761           Normal         Dog     Intact Male         2 years
 136762           Normal         Dog   Intact Female        4 months
 136763           Normal         Cat   Neutered Male         4 years

                                 Breed         Color  test
 7                  Domestic Shorthair   Brown Tabby    10
 9                  Domestic Shorthair   Cream Tabby    10
 22             Domestic Shorthair Mix        Tortie    10
 24                           Pit Bull    Blue/White    10
 26                    Norfolk Terrier   Brown/Cream    10
 ...                               ...           ...   ...
 136759                 Great Pyrenees         White    10
 136760  Chihuahua Shorthair/Dachshund   Black/White    10
 136761                   Pit Bull Mix  White/Yellow    10
 136762                     Cane Corso    Blue Cream    10
 136763             Domestic Shorthair         Black    10

 [23270 rows x 13 columns],
 ['Animal ID', 'DateTime', 'Type'])

What if I want to segment using multiple conditions? Use `&` for "and" and `|` for "or" - and use parentheses around individual conditions!

In [110]:
df_augmented[(df_augmented['Year'] >= 2020) & (df_augmented['Animal Type'] == 'Stray Cat')]

Empty DataFrame
Columns: [Animal ID, Name, DateTime, Year, Found Location, Intake Type, Intake Condition, Animal Type, Sex upon Intake, Age upon Intake, Breed, Color, test]
Index: []

### Your turn!

#### Exercise 1

You need to find dogs that need extra attention - How would you find all dogs where the intake condition is NOT normal?

In [ ]:
# Your code here

#### Exercise 2

You need to find animals that might need to be fixed - How would you find all animals that are either Intact Male or Intact Female?

In [ ]:
# Your code here

## `.iloc`

`.iloc` is used for integer-location based indexing, aka locate by number. It can take in lists of numbers, python slices, or specific numbers - but sometimes it can be a bit tricky!

In [ ]:
# Find the first 3 rows
df_augmented

In [ ]:
# Same as using head(3)

In [ ]:
# Can look exactly where the 0 index is

In [ ]:
# But what about our subset dataframe above? It doesn't have an index 0

In [ ]:
# Try it...

# Series Methods

## `.value_counts()`

How many different values does the Animal Type column have? What about Breed?

In [ ]:
# Check the value counts for Animal Type

In [ ]:
# Now check Breed

Sometimes, this is more useful than others... but, can check the percentage of the total, which might be more useful!

In [ ]:
# Use the normalize argument to view as percentages

## `.sort_values()`

As you can imagine, this works differently whether you're using it on a numeric or non-numeric column

In [ ]:
# Let's sort the year column

In [ ]:
# Now, sort the Animal Type col

In [ ]:
# We can do this on the whole dataframe, it just needs to know what to sort by

# Extra Credit: Find a .csv file online and experiment with it.

Head to [dataportals.org](https://dataportals.org) to find a .csv file.