In [22]:
import json
import numpy as np
import pandas as pd
with open('league_matches.json') as f:
    data = json.load(f)
with open('league_matches_2.json') as f:
    data_2 = json.load()
with open('league_matches_3.json') as d:
    data_3 = json.load(d)
with open('league_matches_4.json') as a:
    data_4 = json.load(a)
with open('league_matches_5.json') as k:
    data_5 = json.load(k)
with open('league_matches_6.json') as l:
    data_6 = json.load(l)
with open('league_matches_7.json') as p:
    data_7 = json.load(p)

In [23]:
def data_diver(data):
    matches = [(data)[x]['info']['teams'] for x in (data)]
    team_1_wins = []
    team_1 = [x[0] for x in matches]
    for x in team_1:
        if x['win'] == True:
            team_1_wins.append(x)
    return len(team_1_wins)

In [24]:
master_data = [data,data_2,data_3,data_4,data_5,data_6,data_7]

In [25]:
Team_one_wins = [data_diver(x) for x in master_data]

In [26]:
Team_one_wins

[55, 54, 55, 54, 53, 54, 54]

In [32]:
df = pd.DataFrame(data=Team_one_wins,index=[1,2,3,4,5,6,7], columns=['Blue_Team_Win'])

In [33]:
df['Red_Team_Win'] = 100 - df['Blue_Team_Win']

In [34]:
df['Total_Matches'] = 100

In [35]:
df

   Blue_Team_Win  Red_Team_Win  Total_Matches
1             55            45            100
2             54            46            100
3             55            45            100
4             54            46            100
5             53            47            100
6             54            46            100
7             54            46            100

In [40]:
data_crosstab = pd.crosstab(df['Blue_Team_Win'],
                            df['Total_Matches'], 
                               margins = False)

Total_Matches  100
Blue_Team_Win
53               1
54               4
55               2

In [ ]:
df = pd.read